.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brand div {
  flex: 1;
  margin: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand div img {
  max-width: 100px;
  min-width: 80px;
}
